<%= form_with model: gym do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% gym.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% gym.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <h3>Please include the link of your gym's pic</h3>
  <div>
    <%= form.label :logo %><br>
    <%= form.text_field :logo %>
    <% gym.errors.full_messages_for(:logo).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
