<%= form_with model: gym do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% gym.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    <% gym.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  Barbells:
  <ul>
    <%= form.fields_for :barbells do |barbells_form| %>

        <%= barbells_form.label :type %>
        <%= barbells_form.number_field :type %>
        <br>
        <%= barbells_form.label :weight %>
        <%= barbells_form.number_field :weight %>
        kg
        <br>
        Delete the current barbell set-up?
        <%= barbells_form.check_box :_destroy %>

    <% end %>
  </ul>


  <div>
    <%= form.submit %>
  </div>
<% end %>
