<%= image_tag @gym.logo %>
<h2> <%= @gym.name%> </h2>
<p> <%= @gym.description%> </p>

<h3> Equipment </h3>

  <% @gym.barbells.each do |barbell| %>
    <p> Brand: <%= barbell.brand %></p>
    <p> Weight: <%= barbell.weight %>kg </p>
  <% end %>

<%= link_to "HOME", gyms_path(@gym) %>
<%= link_to "Modify entry", edit_gym_path(@gym) %>
<%= link_to "Delete", gym_path(@gym),
                  method: :delete,
                  data: { confirm: "Do you really want to get rid of this place?" } %>
