<h1>HERE YOU'LL SEE A NICE PIC OF THE LOCATION</h1>
<h2> <%= @gym.name%> </h2>
<p> <%= @gym.description%> </p>

<% @gym.barbells.each do |barbell| %>
<p> <%= barbell.brand %></p>
<p> <%= barbell.weight %>kg </p>
<% end %>

<%= link_to "HOME", gyms_path(@gym) %>
<%= link_to "Modify entry", edit_gym_path(@gym) %>
<%= link_to "Delete", gym_path(@gym),
                  method: :delete,
                  data: { confirm: "Do you really want to get rid of this place?" } %>
